<ion-menu [content]="content">
  <ion-content class="menu-content" id="sidebar">
    <div id="sidebar-profile-pic">
      <!--<div id="profilepicture">-->
      <img src="{{ proPic }}">
      <!--</div>-->
      <h1> {{ userName }} </h1>
    </div>
    <ion-list id="menu-list">
      <ion-item id="sidebar-item" menuClose ion-item detail-none *ngFor="let page of pages" (click)=pushPage(page)>
        <ion-icon *ngIf="page.icon" name="{{page.icon}}" item-left></ion-icon>
        {{page.title}}
      </ion-item>
      <button id="sidebar-item" menuClose ion-item (click) = "userLogout()">
        <ion-icon name="log-out" item-left></ion-icon>
        Logout
      </button>
    </ion-list>
  </ion-content>
</ion-menu>


<ion-nav [root]="rootPage" #content></ion-nav>
