<ion-header>
  <ion-navbar color="primary">
    <button ion-button class="top-navigation" menuToggle>
      <img src="img/ion-icons/navicon.svg">
    </button>
    <ion-title>
      Paired
    </ion-title>
    <ion-buttons end>
      <button class="top-navigation" (click)="pushInstantMemory()">
        <img *ngIf="numMems > 0" src="img/redcharm.svg">
        <img *ngIf="numMems == 0" src="img/charmed.svg">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce padding style="background-image: url('img/Balloons.png');">
  <svg id="blue_balloon" width="72px" height="72px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 33.29 55.82">
    <defs>
      <style>
        .cls-1 {
          fill: url(#linear-gradient);
        }

        .cls-2 {
          fill: #3996e0;
        }
      </style>
      <linearGradient id="linear-gradient" x1="2.23" y1="8.81" x2="31.06" y2="37.64" gradientUnits="userSpaceOnUse">
        <stop offset="0.01" stop-color="#063d63" />
        <stop offset="0.02" stop-color="#09426a" />
        <stop offset="0.08" stop-color="#165889" />
        <stop offset="0.14" stop-color="#216ca5" />
        <stop offset="0.22" stop-color="#2a7bbb" />
        <stop offset="0.31" stop-color="#3187cc" />
        <stop offset="0.42" stop-color="#3590d7" />
        <stop offset="0.57" stop-color="#3895de" />
        <stop offset="1" stop-color="#3996e0" />
      </linearGradient>
    </defs>
    <title>Asset 3</title>
    <g id="Layer_2" data-name="Layer 2">
      <g id="Layer_5" data-name="Layer 5">
        <path class="cls-1" d="M12.73,48.21H20.5c6.26-6.34,11.34-21.57,12.61-28.54C34.67,11,25.72,0,16.62,0S-1.14,11.42.12,19.66C1.2,26.67,6.47,43.13,12.73,48.21Z"
        />
        <path class="cls-2" d="M19.35,54.84a1.27,1.27,0,0,1-1.2,1H15.08a1.27,1.27,0,0,1-1.2-1L13,50.46a.79.79,0,0,1,.8-1h5.61a.79.79,0,0,1,.8,1Z"
        />
      </g>
    </g>
  </svg>

  <!--<div class="stats-area">
    <img src="img/Profile-1.svg">
    <p *ngIf="firstMem"> Making memories since {{ firstMem }} </p>
    <p *ngIf!="firstMem"> Start making memories </p>
    <img src="img/Profile-2.svg">
  </div>-->
  <!--<div style="height: 10px;">
  </div>-->
  <!-- <div id="chart"> -->
  <!--<div align="center" col-12 id="svg-container">-->
    <!--Use the below pattern tags whenver if you want to cast pictures over circles-->
    <!-- <pattern id="image" x="0" y="0" height="30" width="30">
        <image x="0" y="0" width="40" height="50" xlink:href="../assets/images/campanile.png"></image>
      </pattern> -->
    <!-- <div col-4 class="card">
        <img id="memeoryImage" src="img/memory/m1.JPG">
          <h5 class="cardtitle" id="date"><b>March 19 2017</b></h5> <h5 class="cardtitle" id="activity">Sunset</h5>
          <h5 class="cardtitle" id="location">Marina</h5>
      </div> -->
    <!--<div align="center" xmlns="http://www.w3.org/2000/svg" id="vis" viewBox="0 0 500 550">
    </div>-->
  <!--</div>-->

  <ion-fab bottom>
    <div class="bottom-buttons">
      <button class={{page.icon}} *ngFor="let page of navPages" (click)="pushPage(page)">
      <img src={{page.path}}>
    </button>
    </div>
  </ion-fab>

</ion-content>
