
<ion-header>
  <ion-navbar color="primary">
    <button ion-button class="top-navigation" menuToggle>
      <img src="img/ion-icons/navicon.svg">
    </button>
    <ion-title>
      Paired
    </ion-title>
    <ion-buttons end>
      <button class="top-navigation" (click)="pushInstantMemory()">
        <img src="img/charmed.svg">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="stats-area">
    <!--<img src="img/Profile-1.svg">-->
    <p *ngIf="firstMem"> Making memories since {{ firstMem }} </p>
    <p *ngIf!="firstMem"> Start making memories </p>
    <!--<img src="img/Profile-2.svg">-->
  </div>
  <div style="height: 10px;">
  </div>
      <!-- <div id="chart"> -->
      <div col-12 id="svg-container">
      <!--Use the below pattern tags whenver if you want to cast pictures over circles-->
      <!-- <pattern id="image" x="0" y="0" height="30" width="30">
        <image x="0" y="0" width="40" height="50" xlink:href="../assets/images/campanile.png"></image>
      </pattern> -->
      <!-- <div col-4 class="card">
        <img id="memeoryImage" src="img/memory/m1.JPG">
          <h5 class="cardtitle" id="date"><b>March 19 2017</b></h5> <h5 class="cardtitle" id="activity">Sunset</h5>
          <h5 class="cardtitle" id="location">Marina</h5>
      </div> -->
      <svg xmlns="http://www.w3.org/2000/svg" id="vis" viewBox="0 0 500 550">
      </svg>
    </div>

<ion-fab bottom>
  <div class="bottom-buttons">
    <button class={{page.icon}} *ngFor="let page of navPages" (click)="pushPage(page)">
      <img src={{page.path}}>
    </button>
  </div>
</ion-fab>

</ion-content>
