page-timeline,
.notifications {
  hr.vertical {
    //width: 2px;
    height: 100%;
    /* or height in PX */
    border: 2px solid color($colors, primary);
    position: absolute;
    margin-left: 35px;
    margin-top: 0;
  }
  .timeline-date {
  margin-left: 36px;
  position: relative;
  padding-left: 25px;
}

.timeline-date span {
  display: inline-block;
  background-color: color($colors, primary);
  color: white;
  padding: 4px;
  border-radius: 3px;
  margin-left: 20px;
  font-size: 14px;
}
.timeline-date:before {
  content: '';
    position: absolute;
    top: 48%;
    border-bottom: 3px solid;
    width: 20px; /* half of limiter */
    margin: 0 -20px;
    color: color($colors, primary);
    right: 100%;
}
  img {
    position: relative; //z-index: 200;
  }
  .card-ios {
    width: 100%;
    margin: 0;
  }
  .label-ios {
    margin: 11px 0 10px 0;
  }
  .item-ios {
    padding-left: 0;
    background-color: rgba(255, 255, 255, 0);
  }
  .item-ios p {
    margin: 8px 0 0px 0;
  }
  .item-ios.item-block .item-inner {
    padding-right: 0;
  }
  .card-content-ios {
    padding: 13px 16px 14px 70px;
  }
  .notifications-list {
    .item {
      //position: relative;
      margin-left: -52px; //padding: 0;
      //z-index: 1;
      // .item-inner {
      //   border-left: 1px solid color($colors, primary);
      //   margin-left: 2em;
      //   padding: 1em 1em 0;
      //   position: relative;
      //   z-index: -1;
      // }
    } // img {
    //   height: 100px;
    //   width: 100px;
    //   padding: 5px;
    // }
    .item-label {
      display: block;
      position: absolute;
      padding: 5px 0 0;
      left: 20px;
      top: 24px;
      width: 20px;
      height: 14px;
      border-radius: 50%;
      text-align: center;
      font-size: 8px;
      border: 3px solid #FFF;
      box-sizing: content-box;
      color: #FFF;
    }
    .post-author,
    .notifications-content {
      font-size: 0.8em;
      font-weight: normal;
    }
    .post-time {
      margin-top: 1em;
      font-size: 0.7em;
    }
  }
}

item-block {
  background-color: silver;
}

page-timeline {
  .list-no-border .item .item-inner {
    border-bottom: none;
    margin: 0;
  }
  .content-ios {
  background-color: #dedede;
}
}
.mem-no-margin .label-ios {
  margin:0;
}


svg {
  margin: 15px 0px -4px 22px;
}
ion-avatar {
  margin: 0 16px 0 0;
}