<!--
Generated template for the Pebbl page.

See http://ionicframework.com/docs/v2/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Instant Memories</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="page">

<div class="stats">
<img src="img/bothCharmsShadow.png" alt="">
</div>
  <div class="mem-number" *ngIf="numMems == 0"> You have no new instant memories!</div>
  <div class="mem-number" *ngIf="numMems > 1"> You have {{ numMems }} new instant memories!</div>
  <div class="mem-number" *ngIf="numMems == 1"> You have {{ numMems }} new instant memory!</div>

  <div class="scroll-memories">
  <ion-card *ngFor="let memory of instantMems.memories; let i=index">

    <ion-item>
      <h4>{{ memory.mem.date }}, {{ memory.mem.day }}, {{ memory.mem.month }}</h4>
      <h2>{{ memory.mem.venue }}</h2>
      <p><ion-icon name="time-outline"></ion-icon> {{ memory.mem.time}}
        <ion-icon name="pin-outline"></ion-icon> {{ memory.mem.city}}, {{ memory.mem.state}}</p>
      </ion-item>

      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small (click)=addMem(memory)>
            <div>Add</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small (click)="deleteMem(memory, i)">
            <div>Delete</div>
          </button>
        </ion-col>
      </ion-row>

    </ion-card>
  </div>
  </ion-content>
