
.popover-ios .popover-content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #222;
}
page-memoryslides {

ion-backdrop {
    opacity: 0.9;
}

}
ion-app.ios .popover-content .scroll-content {
    padding: 0;
}
.popover-content {
    left: 0;
    top: 0;
}