<!--
Generated template for the Checkin page.

See http://ionicframework.com/docs/v2/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>
      <ion-buttons>
        <button ion-button round icon-right>Round Button
          <ion-icon name="arrow-dropdown"></ion-icon>
        </button>
      </ion-buttons>
    </ion-title>
    <ion-buttons end>
      <button ion-button>
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>



<ion-content padding>
  <ion-segment [(ngModel)]="section" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button value="camera" >
      <ion-icon name="camera" large></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="keyboard">
      <ion-icon name="barcode" large></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="emoticons">
      <ion-icon name="basket" large></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <ion-textarea rows="12" placeholder="Describe your memory"></ion-textarea>

  <div [ngSwitch]="section" class="forms-wrapper">
    <div *ngSwitchCase="'camera'">
      <button ion-button block large (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
      </button>
      <button ion-button block large (click)="openGallery()">
        <ion-icon name="camera"></ion-icon>
      </button>
      <img [src]="base64Image" *ngIf="base64Image" />
      <img [src]="imageSrc" *ngIf="imageSrc" />
    </div>
    <div *ngSwitchCase="'keyboard'">
      <button ion-button block large>
        <ion-icon name="camera"></ion-icon>
      </button>
    </div>
  </div>


  </ion-content>
